h1{
    position: absolute;
left:450px;
font-weight: lighter;
font-style: italic;
font-size: 35px;
}
p{
    position: absolute;
    left:520px;
    top:180px;
    color: brown;
    font-size: 25px;
}
h2{
    position: absolute;
    left:570px;
    top:100px;

}
.pay
{
    position: absolute;
    top:250px;
    left:550px;
    font-size:30px;

}
h3{
    position: absolute;
    bottom:20px;
    right:30px;
}